*{
  margin: 0;
  padding: 0;
}


/* Nav bar 1st */
.nav1{
  background-color: black;
}

/* Nav bar 1st  End */

/* Navbar Main Start */

.custom-placeholder::placeholder {
  color: gray; 
  font-size: 1rem; 
  opacity: 0.7;
  font-weight: ;
}

/* Navbar Main End */

